@if(clientes !== null && clientes.length === 0){
<h3>Não existem solicitações de Cartões.</h3>
}

@if(clientes && clientes.length > 0){
<table border="1" style="width: 950px;">
    <thead>
        <tr>
            <th>Nome Titular</th>
            <th>Data Nascimento</th>
            <th>CPF</th>
            <th>Municipio</th>
            <th>Mãe</th>
            <th>Foto Rosto</th>
            <th>Foto Identidade</th>
            <th>Foto Comp. Endereço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @for (cliente of clientes; track cliente) {
            <tr>
                <td>{{ cliente.nomeCompletoTitular }}</td>
                <td>{{ cliente.dataNascimento }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ descricaoMunicipio(cliente.municipio).nome }}</td>
                <td>{{ cliente.nomeCompletoMaeTitular }}</td>
                <td> <img [src]="transform(cliente.fotoRosto)" width="60px"> </td>
                <td> <img [src]="transform(cliente.identidade)" width="60px"> </td>
                <td> <img [src]="transform(cliente.comprovanteResidencia)" width="60px"> </td>
                <td>
                    <button (click)="aprovar(cliente)">Aprovar</button>
                    <button (click)="reprovar(cliente)">Reprovar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}