<img src="../assets/redemob_consrcio_cover.jpg"/>
<div class="corpo">
    <div class="mainmenu">
        <a class="btn btn-primary" routerLink="/cadastro">Solicitar Cartão</a>
        
        <a class="btn btn-success" routerLink="/acompanhamento">Acompanhar Solicitacao</a>
        
        <a class="btn btn-danger" routerLink="/administracao">Administracao</a>
        
        <a class="btn btn-info" routerLink="/login">Login</a>
        
        <a class="btn btn-warning" routerLink="/sair">Sair</a>
    </div>
    
    <router-outlet />
</div>

